VITE_LOCAL_STORAGE_LANGUAGE_KEY=
VITE_DEFAULT_LANGUAGE=

### EMAIL_JS
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_PRIVATE_KEY=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_SERVICE_ID=


### GA$
VITE_GA4_MEASUREMENT_ID=
VITE_GA4_STREAM_ID=

## React Query
VITE_DEFAULT_CACHE_EXPIRATION=

## CONTACTS
VITE_INSTAGRAM_LINK=