// Override default css variables for notify lib
// https://fkhadra.github.io/react-toastify/how-to-style/

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: var(--success-color) !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: var(--error-color) !important;
}

.Toastify__toast {
  font-size: 14px;
}
