@use 'styles/fonts' as *;
@use 'styles/variables' as *;

:root {
  --primary-color: #fffdf9;
  --primary-light-color: #f7f2ea;
  --primary-dark-color: #e9dfd1;

  --secondary-color: #f6b7c5;
  --secondary-light-color: #ffd1da;

  --accent-color: #d94f68;

  --main-text-color: #1f1a17;
  --main-light-text-color: #746a62;

  --border-color: #d2c5b7;

  --dark-color: #211c19;

  --main-xsm-font-size: #{$font-size-xsm};
  --main-sm-font-size: #{$font-size-sm};
  --main-md-font-size: #{$font-size-md};
  --main-lg-font-size: #{$font-size-lg};
  --main-xl-font-size: #{$font-size-xl};
  --main-xxl-font-size: #{$font-size-xxl};

  --sm-breakpoint: #{$sm};
  --md-breakpoint: #{$md};
  --lg-breakpoint: #{$lg};
  --xl-breakpoint: #{$xl};
}
