@use 'styles/variables' as *;
@layer component {
  .Title {
    font-size: clamp(1.65rem, 4vw, 3rem);
    text-wrap: wrap;
    text-align: center;
    line-height: 1.05;
    color: var(--main-text-color);

    @media screen and (min-width: $lg) {
      text-align: start;
    }
  }
}
