@layer section {
  .ArtistSct {
    grid-column: 2;
    display: grid;
    justify-content: center;

    .imgWrapper {
      border: 1px solid var(--primary-dark-color);
      border-radius: 16px;
      overflow: hidden;
      aspect-ratio: 3/4;
      background-image: url('/src/assets/img/main-photo.jpg');
      background-size: cover;
      height: clamp(20em, 30em, 40em);
    }
  }
}
