@use 'styles/variables' as *;

@layer section {
  .PublicLayout {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .main {
      width: 100%;
      min-height: 100%;
      display: grid;
      padding: var(--page-padding-block) var(--layout-gutter);

      > * {
        width: 100%;
        max-width: var(--layout-max-width);
        margin-inline: auto;
      }
    }
  }
}
