@use 'styles/variables' as *;

@layer section {
  .PublicLayout {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .main {
      width: 100%;
      min-height: 100%;
      display: grid;
      padding: clamp(2.2em, 5vw, 5em) clamp(1em, 4vw, 3em);

      @media screen and (max-width: $lg) {
        padding-block: 5em;
      }
    }
  }
}
